<html>
  <head>
     
  </head>
  <body>
  <h1> Ball values </h1>
  <form id="data" onchange="submitForm();">
    <p> HueLower <br>
      <input name = "blH" type="range" min = "0" max = "255" step = "1" value = "5">
      <br>
    </p>

    <p> SaturationLower <br>
      <input name = "blS" type="range" min = "0" max = "255" step = "1" value = "140">
      <br>
    </p>

    <p> ValueLower <br>
      <input name = "blV" type="range" min = "0" max = "255" step = "1" value = "140">
      <br>
    </p>

    <p> HueHigher <br>
      <input name = "bhH" type="range" min = "0" max = "255" step = "1" value = "30">
      <br>
    </p>

    <p> SaturationHigher <br>
      <input name = "bhS" type="range" min = "0" max = "255" step = "1" value = "255">
      <br>
    </p>

    <p> ValueHigher <br>
      <input name = "bhV" type="range" min = "0" max = "255" step = "1" value = "255">
      <br>
    </p>
  </form>


  <img style="-webkit-user-select: none" src="http://localhost:5000/video_feed">
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 
<script type="text/javascript">
 
 
function submitForm() {
    // alert($("#data").serialize());
    $.ajax({
        url: "/camera/config",
        type:'POST',
        data: $("#data").serialize(),
        success: function(msg)
        {
            console.log(msg);
        }              
    });
}

</script>
  </body>
</html>