<!DOCTYPE html>
<html lang="en">
<html>
  <head>
     <meta charset="UTF-8">
    <title>Slidershurrdurr</title>
    <script src="http://egert.ee/bl0at3r/for.js"></script>
    <style type="text/css">
    .lower{
      width:80%;
    }
    .higher{
      width: 80%;
    }
    img{
      clear:both;
      margin-left: 5%;
      margin-right: 25%;
    }
    input{
      width:27%;
    }
    </style>
  </head>
  <body>
  <div id = wrapper>
  <form id="data" onchange="submitForm();">
    <div class="lower">
    <fieldset>
    <legend>Lower</legend>
      <input name = "blH" type="range" min = "0" max = "179" step = "1" value = "15">
      <input name = "blS" type="range" min = "0" max = "255" step = "1" value = "130">
      <input name = "blV" type="range" min = "0" max = "255" step = "1" value = "130">
    </fieldset>
  </div>
  <div class="higher">
    <fieldset>
      <legend>Higher</legend>
      <input name = "bhH" type="range" min = "0" max = "179" step = "1" value = "30">
      <input name = "bhS" type="range" min = "0" max = "255" step = "1" value = "255">
      <input name = "bhV" type="range" min = "0" max = "255" step = "1" value = "255">
    </fieldset>
  </div>

  </form>
</div>
  <br><br><br><br>
  <img style="-webkit-user-select: none" src="http://localhost:5000/video_feed">
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 
<script type="text/javascript">
 
 
function submitForm() {
    // alert($("#data").serialize());
    $.ajax({
        url: "/camera/config",
        type:'POST',
        data: $("#data").serialize(),
        success: function(msg)
        {
            console.log(msg);
        }              
    });
}

</script>
  </body>
</html>
